:root{
--dark-color:#19283f;
--green-color:#33d1cc; 
--red-color:#ff3150;
--yellow-color:#ffc400;

}

body{
    /* height: 1000px; */
}
.navbar{
 background-color: var(--dark-color);
position: sticky;
 
}
.btn-outline-success {
    --bs-btn-border-color:var(--dark-color)
}
.navbar .navbar-nav .nav-link{
    color: aliceblue;
}
.navbar .navbar-nav .nav-link.Active ,.navbar .navbar-nav .nav-link:hover  {
    color: var(--green-color);
}
.navbar .cocontainer .navbar-brand{
    color: aliceblue;
}
.navbar-logo {
    font-size: 1.5rem;
    color: var(--green-color);
    text-decoration: none;
    white-space: nowrap;
font-family: cursive;
}
.navbar .search{
    color: var(--green-color);
    border-left:1.5px solid var(--green-color) ;
}
.navbar .search:hover{
    color: white;
    border-left:1.5px solid white ;
}
.navbar  .navbar-toggler  {
    color: var(--green-color);
}
.navbar .btn{
    background-color:  var(--red-color);
    color: var(--yellow-color);
    border: 0;
    width: 80px;
}
.navbar .btn:hover{
    background-color:  white;
    color: var(--red-color);
}
.landing{
    background-color: var(--dark-color);
    min-height: calc(100vh - 64px);
    text-align: center;
   
}
.landing .btn{
    background-color:  var(--red-color);
    border: 0;
    width: fit-content;
    color: var(--yellow-color);
}
.landing .btn:hover{
    background-color:  white;
    color: var(--red-color);
}