:root{
--dark-color:#19283f;
--green-color:#33d1cc; 
--red-color:#ff3150;
--yellow-color:#ffc400;
--section-color:#eff7fa;

}

body{
    /* height: 1000px; */
}
/* start nav section */
.navbar{
 background-color: var(--dark-color);
position: sticky;
 
}
.btn-outline-success {
    --bs-btn-border-color:var(--dark-color)
}
.navbar .navbar-nav .nav-link{
    color: aliceblue;
}
.navbar .navbar-nav .nav-link.Active ,.navbar .navbar-nav .nav-link:hover  {
    color: var(--green-color);
}
.navbar .cocontainer .navbar-brand{
    color: aliceblue;
}
.navbar-logo {
    font-size: 1.5rem;
    color: var(--green-color);
    text-decoration: none;
    white-space: nowrap;
font-family: cursive;
}
.navbar .search{
    color: var(--green-color);
    border-left:1.5px solid var(--green-color) ;
}
.navbar .search:hover{
    color: white;
    border-left:1.5px solid white ;
}
.navbar  .navbar-toggler  {
    color: var(--green-color);
}
.navbar .btn{
    background-color:  var(--red-color);
    color: var(--yellow-color);
    border: 0;
    width: 80px;
}
.navbar .btn:hover{
    background-color:  white;
    color: var(--red-color);
}
 /* end nav section */
 /* start landing section */
.landing{
    background-color: var(--dark-color);
    min-height: calc(100vh - 64px);
    text-align: center;
   
}
.landing .btn{
    background-color:  var(--red-color);
    border: 0;
    width: fit-content;
    color: var(--yellow-color);
}
.landing .btn:hover{
    background-color:  white;
    color: var(--red-color);
}

 /* end landing section */

 /* strat Features Section */
 .main-title::after {
    content: '';
    height: 2px;
    width: 120px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left :50%;
    transform: translate(-50%);
 }
.features  .fs-1{
    color: var(--yellow-color);
}
.features  .fs-1:hover{
    color: var(--red-color);
}

.features .icon-holder{
height: 200px;
}

.features .icon-holder svg{
transform: translate(-50%);
left: 50%;
}

.features .icon-holder .number{
color: var(--section-color); 
font-size: 12rem;
}
.features .icon-holder .icon{
    color: var(--green-color); 
    }   
.features h4{
color: var(--yellow-color);  
margin-bottom: 0;      }
  /* end Features Section */
/* start our-work section */
.our-work{
    background-color: var(--section-color);
    
}
.our-work .fs-1{
    color: var(--yellow-color);
}

.our-work ul .active{
    background-color: var(--red-color);
    color: var(--yellow-color);
width: 3rem;
}
.our-work ul li:not(.active):hover{
    color: var(--red-color);
    cursor: pointer;
}
.our-work ul li{
    padding: 0.5rem;
}
.our-work .img-fluid{
    max-width: 100%;
    height: auto;
}
.our-work .box{
    padding: 5px;
    overflow: hidden;
    position: relative;
}
.our-work .box::before{
    content: attr(data-work);
    position: absolute;
    color: #eff7fa;
    background-color: #33d1cc55;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    transform: translate(50px, 50px) rotate(0deg) scale(0);

} 
.our-work .box:hover::before{
    transform: translateX(0);

}

.our-work .btn{
    color: var(--yellow-color);
    background-color: var(--red-color);
    border: 0;
}
.our-work .btn:hover ,.btn:focus{
    color: var(--red-color);
    background-color: var(--section-color);
    border: 2px solid;
}

/* end our-work section */